@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
body {
    background-color: #2F2D46;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.logo {
    display: block;
    width: 13%;
    align-items: center;
    margin: 0 auto;
    border-radius: 10px;
}
h1{
    text-align: center;
    color: white;
    margin-top:0.1px;
     font-family: "Montserrat", sans-serif;
     font-size: 50px;
}
.login-form {
    width: 100%;
    max-width: 400px; 
    background-color: #F53333;
    border-radius: 15px;
    padding: 20px; 
    border: 1.5px solid white;
    text-align: center;
    margin-inline: auto;
    font-family: "Montserrat", sans-serif;
    font-size: 10px;
}

.login-form h1 {
    color: #FFFFFF;
    font-size: 24px;
    margin-bottom: 20px;
}

.login-form label {
    display: block;
    text-align: left;
    color: black;
    margin: 10px 0 5px;
    font-size: 20px;
}

.login-form input {
    width: calc(100% - 40px);
    padding: 15px;
    margin: 5px 0;
    border: none;
    border-radius: 8px;
    box-sizing: border-box;
}
.login-form button {
    width: calc(100% - 40px); /* Full-width button with padding */
    padding: 15px;
    color: #FFFFFF;
    background-color: #333;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 30px;
}
.login-form button:hover {
    background-color: #444;
    border-color: white;
}

.login-form a {
    color: black;
    text-decoration: underline;
    font-size: 14px;
    align-items: left;
}
